* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 13px;
}

window#waybar {
  background: #1a1b26;
  color: #c0caf5;
}

#workspaces button.active {
  color: #7aa2f7;
}

#clock,
#pulseaudio,
#network,
#battery,
#tray {
  padding: 0 10px;
}
